@mainMenu("Login") {

    <div class="container">
        <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Bitte einchecken</h2>
            <div class="input-group">
                <span class="input-group-addon">
                @@
                </span>
                <input type="email" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <input type="password" class="form-control" placeholder="Password" required>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Vergiss mich nicht
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Einchecken</button>
        </form>
    </div>
}