@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-theme.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="page-header">
                <h1>CWPlayGround <small>the awesome awesome test</small></h1>
            </div>
            @content
            <div class="panel-footer row">
                <div class="col-xs-6 col-sm-4"><h3>Awesomeness Production (C) 2014</h3></div>
                <div class="col-xs-6 col-sm-4"></div>
                <div class="col-xs-6 col-sm-4">by xero & globeFreak</div>
            </div>
        </div>
    </body>
</html>
