@(noteForm: Form[Note])
@import helper.twitterBootstrap._

    @helper.form(if(noteForm.value.isEmpty) routes.Application.createNote else routes.Application.updateNote(noteForm.get.id)) {
        <fieldset>
            @helper.inputText(noteForm("title"), '_label -> "Titel", '_help -> "Min 3, max 10 Zeichen")
            @helper.textarea(noteForm("text"), '_label -> "Text", 'rows -> 3, 'cols -> 50)
        </fieldset>
        <button class="btn btn-primary" type="submit">Speichern</button>
    }

@if(!noteForm.value.isEmpty && noteForm.get.comments != null) {
    <ol class="list-group">

    @for(comment <- noteForm.get.comments) {
        <li class="list-group-item">
        @comment.text
        </li>
    }

    </ol>
}