@(redirect: String)
@mainMenu("Login") {

    <div class="container">
        <form class="form-signin" role="form" action="@routes.Application.checkLogin()" method="post">
            <h2 class="form-signin-heading">Bitte einchecken</h2>
            <div class="input-group">
                <span class="input-group-addon">
                @@
                </span>
                <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <input name="password" type="password" class="form-control" placeholder="Password" required>
            <label class="checkbox">
                <input name="remember" type="checkbox" value="jup"> Vergiss mich nicht
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Einchecken @{if(redirect != null) "und weiterleiten"}</button>
            "@redirect"
        </form>
    </div>
}